* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  cursor: pointer;
}

.btn-box {
  display: flex;
  padding: 260px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.start-btn {
  padding: 30px 60px;
  background-color: greenyellow;
  font-size: 28px;
}

.start-btn:disabled {
  cursor: not-allowed;
}
.stop-btn {
  padding: 30px 60px;
  background-color: red;
  font-size: 28px;
}

.input-timer {
  outline: none;
  border: 1px solid darkblue;
  height: 30px;
  width: 150px;
}
.input-timer:focus {
  outline: 2px solid green;
  border: none;
}
.start-timer-btn {
  height: 30px;
  padding: 0 35px 0 35px;
}
.start-timer-btn:disabled {
  cursor: not-allowed;
}
.timer {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.field {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.value {
  font-size: 30px;
}
.label {
  font-size: 12px;
}
